.eggs-area {
    margin-top: 30px;
    margin-left: 13px;
    display: block;
    overflow: hidden;
}
.eggs-area li {
    list-style: none;
    width: 230px;
    display: block;
    margin: 0 auto;
    position: relative;
}
.eggs-area li .egg {
    width: 166px;
    float: left;
    display: block;
    position: relative;
}
.eggs-area li .egg img.stars {
    position: absolute;
    display: block;
    left: -31px;
    top: -38px;
}
.eggs-area li .hammer img {
    position: absolute;
    display: block;
    left: 140px;
}
.eggs-area li .eggtitle {
    display: block;
    clear: both;
    margin-top: 13px;
    text-align: center;
}